<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/product-detail.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Mora Jaya Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product-listing.html">Products</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <img id="productImage" src="https://via.placeholder.com/400" class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-6">
        <h2 id="productName">Product Name</h2>
        <p id="productDescription">Product Description</p>
        <p id="productPrice">$0.00</p>
        <div class="form-group">
          <label for="productSize">Size</label>
          <select class="form-control" id="productSize">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
        </div>
        <div class="form-group">
          <label for="productColor">Color</label>
          <select class="form-control" id="productColor">
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
          </select>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary btn-lg mb-4">Add to Cart</button>
          <a href="product-listing.html" class="btn btn-secondary btn-lg mb-4">Back to Products</a>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h3>Customer Reviews</h3>
      <div id="reviews">
        <div class="media mb-4">
          <img class="mr-3 rounded-circle" src="https://via.placeholder.com/50" alt="Reviewer">
          <div class="media-body">
            <h5 class="mt-0">Reviewer Name 1</h5>
            Great product, very satisfied!
          </div>
        </div>
        <div class="media mb-4">
          <img class="mr-3 rounded-circle" src="https://via.placeholder.com/50" alt="Reviewer">
          <div class="media-body">
            <h5 class="mt-0">Reviewer Name 2</h5>
            Excellent quality and fast shipping.
          </div>
        </div>
        <div class="media mb-4">
          <img class="mr-3 rounded-circle" src="https://via.placeholder.com/50" alt="Reviewer">
          <div class="media-body">
            <h5 class="mt-0">Reviewer Name 3</h5>
            Very comfortable and looks great!
          </div>
        </div>
        <div class="media mb-4">
          <img class="mr-3 rounded-circle" src="https://via.placeholder.com/50" alt="Reviewer">
          <div class="media-body">
            <h5 class="mt-0">Reviewer Name 4</h5>
            Love it! Will buy again.
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 related-products">
      <h3>Related Products</h3>
      <div class="row" id="relatedProducts">
       
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; 2024 Mora Jaya Hub. All rights reserved.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJd6jTi0tQgpFWvfwRo+O8H7xMjP5q3FtSk4MXz8yDa9I4X9D" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6VWr3eha3ih5LCZZZMkC2PknZl3Gp2hYtPL1" crossorigin="anonymous"></script>
  <script src="../js/product-detail.js"></script>
</body>
</html>
